/*
 * Copyright © 2021 EC2U Consortium. All rights reserved.
 */

tool-user {

	& > ul {

		padding: 0;
		margin: 0;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		font-size: 200%;
		color: #999;

		& > li {

			padding: 0;
			margin: 0;

			list-style: none;

		}

	}

}