/*
 * Copyright © 2021 EC2U Consortium. All rights reserved.
 */

tool-none {

	display: grid;
	width: 100%;
	height: 100%;

	font-size: 20vh;
	color: #CCC;

	&::before {
		content: ":-(";
		display: inline-block;
		margin: auto;
		transform: rotate(90deg);
	}

}