/*
 * Copyright © 2021 EC2U Consortium. All rights reserved.
 */

data-tags {

	font-size: 75%;

	display: inline-flex;
	flex-direction: row;
	align-items: center;

	padding: 0.25em 0.75em;
	border-style: solid;
	border-radius: 1em;
	background-color: #F4F5F6;

	margin-left: 0.25em;

	& > * > svg {
		width: 1em;
		height: 1em;
		margin-right: 0.33em;
		color: #333;
	}

}
